@using Site.UI.Repository.Interface
@inject IPedidoRepository PedidoRepository

<div class="container-fluid">
    <section>
        <h1>Order ID = @PedidoRepository.ObterPedido().Id</h1>
        <p>please come back again!</p>
    </section>
</div>